html, body {
	margin: 0;
	padding: 0;
}

body {
	color: white;
	font-family: "helvetica"
}

h1 {
	text-align: center;
}

img {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

p {
	text-align: center;
	font-size: 15px;
	font-family: "helvetica"
}

.collapsed {
	border-color: #337ab7;
}

.icon-bar {
	background-color: #337ab7;
}

#background-video {
	width: 100%;
	z-index: 0;
}

.navbar-brand, .navbar-nav li a {
	text-shadow: none;
}

.navbar a {
	color: #741d13;
}

.nav li a:hover {
	background-color: rgba(145, 31, 31, 0.24);
}

.videoContainer {
	position: relative;
	top: -75px;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #2c1b0b;
	z-index: -10;
}

video {
	opacity: 0.70;
	width: 100%;
	height: auto;
}